<div>
  <h2>About page for listing website</h2>
  <p>
    Trying out ember app and building simple website for listing everything near Seattle
  </p>
  {{#link-to 'application' class='button'}}
  Home
  {{/link-to}}
</div>