<div class="jumbo">
  <div class="right"></div>
  <h2>Welcome to listing!</h2>
  <p>We hope you find exactly what you're looking for.</p>
</div>
{{input type="text" value=search placeholder="search" class="search"}}

{{#each model as |listingItem|}}
  {{item-listing listingItem = listingItem}}
{{/each}}